Q1.Convert given hrs & mins in second

In [4]:
hrs=int(input("Enter Hour:"))
min=int(input("Enter minutes:"))
print("Total hour and mins is",hrs,':',min)
sec=((hrs*60)+min)*60
print("Seconds are:",sec)

Enter Hour:1
Enter minutes:0
Total hour and mins is 1 : 0
Seconds are: 3600

Q.2) Write code to find the average of ‘n’
numbers entered by the user to function avg ( ).
Ex: avg (10, 20, 30, 40) => average is: 70
avg (5, 10, 15) => average is: 10

In [10]:
def avg(*num):
  avg=sum(num)/len(num)
  print("The average of numbers is ",avg)

In [88]:
avg(5,10,15)

The average of numbers is  10.0

Q3.Q.3) Print
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [87]:
k=1
for i in range(1,6):
  for j in range(1,i+1):
    if(k%2==1):
      print(1,end=" ")
    else:
      print(0,end=" ")
    k+=1
  print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

Q.5) Create class Math class

In [97]:
class math:
  def __init__(self):
    self.a=int(input("Enter a number"))
    self.b=int(input("Enter a number"))
  def add(self):
    
    
    return (self.a+self.b)
  def div(self):
    
    return (self.a/self.b)
  def sub(self):
    
    return self.a-self.b
  def mul(self):
    
    return self.a*self.b

In [100]:
m=math()
m.mul()

Enter a number5
Enter a number5

25

Q7. Convert Paise in Rupees &
Paises
Ex: 350 is 3 Rupees 50 Paise
3.50 print Rupees: 3
Paise: 50

In [30]:
paise=int(input("Enter the paise:"))
rupee=paise//100
pa=paise%100
print("After converting the value is",rupee,'Rupees',pa,'Paise')
print('Rupees:',rupee,'Paise:',pa,)

Enter the paise:350
After converting the value is 3 Rupees 50 Paise
Rupees: 3 Paise: 50

Q.9) Accept String & print only alternate
characters on a string.
Ex: this i s a _ test

In [94]:
string=input("Enter a String:")
mod_string=string[::2]
print(mod_string)

Enter a String:My Name is Vishvnath
M aei ihnt